<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Research Applications Laboratory</h3>
                <h1>Hydrologic Research and Applications Toolbox</h1>
		<h5>{{ site.description }}</h5>				
		<p> &nbsp </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/overview.png" | prepend: site.baseurl }}" class="img-responsive" height="60%" width="60%">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
